<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Count Number of Prime Numbers in Array</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <pre>

We need to print the number of prime numbers present in the array.

int arr[] = {{ '{' }}2,5,3,4,8{{ '}' }} and take variable count= 0;
	
Step 1: firstly, we can take the first element i.e 2
	   we need to find whether the number 2 is prime or not.if it is prime then increase the count by 1.
	  (Prime logic)
	   2 ---> prime
	   So, count = 1.

Step 2: we can take the next element i.e 5
	   we need to find whether the number 5 is prime or not.if it is prime then increase the count by 1.
	   (Prime logic)
	   5 ---> prime
	   So, count = 2.

Step 3: we can take the next element i.e 3
	  we need to find whether the number 3 is prime or not.if it is prime then increase the count by 1.
	  (Prime logic)
	  3 ---> prime
	  So, count = 3.

Step 4: we can take the next element i.e 4
	  we need to find whether the number 5 is prime or not.if it is prime then increase the count by 1.
	  (Prime logic)
	  4 ---> not prime
	  So, count remains the same as 4 is not a prime number.
	  Count = 3.

Step 5: we can take the next element i.e 8
	   we need to find whether the number 8 is prime or not.if it is prime then increase the count by 1.
	   (Prime logic)
	   8 ---> not prime
	   So, count remains the same as 8 is not a prime number.
	   Count = 3.

So, the number of primes in the array is 3.

              </pre>
              
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#InputOutput" aria-expanded="false" aria-controls="InputOutput">
                Sample Input & Output
              </button>
            </h5>
          </div>
          <div id="InputOutput" class="collapse" aria-labelledby="headingTwo">
            <div class="card-body">

            <pre>

            </pre>
                
                
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <img src="assets/img/" alt="program">
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#DebuggingVideo" aria-expanded="false" aria-controls="DebuggingVideo">
                DebuggingVideo
              </button>
            </h5>
          </div>
          <div id="DebuggingVideo" class="collapse" aria-labelledby="headingFour">
            <div class="card-body">
              <app-video-common [url]="'assets/videos/'"></app-video-common>              
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Practice" aria-expanded="false" aria-controls="Practice">
                Practice
              </button>
            </h5>
          </div>
          <div id="Practice" class="collapse" aria-labelledby="headingFive">
            <div class="card-body">
             
              <div data-pym-src="https://www.jdoodle.com/embed/v0/3VBR"></div>
              
            </div>
          </div>
        </div>

      </div>
      <!--<p>   another collapse end here </p>-->
    </div>
  </div> 
  




