<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Factorial of a number</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <pre>
Factorial of a number is the product(multiplication) of all positive descending numbers.
Factorial of a number (suppose take number as 4) is denoted by number! (that is 4!)

For example: 
4! = 4*3*2*1 = 24.
Here, 4! Means we can go through reverse order from 4 to 1 and 
multiply all the numbers from number 4 to number 1.
i.e., 4*3*2*1

consider 15! 
15*14*13*12*11*10*9*8*7*6*5*4*3*2*1
              </pre>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#InputOutput" aria-expanded="false" aria-controls="InputOutput">
                Sample Input & Output
              </button>
            </h5>
          </div>
          <div id="InputOutput" class="collapse" aria-labelledby="headingTwo">
            <div class="card-body">
                Input:
                4
                Output:
                24                
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <img src="assets/img/basic/factorial.JPG" alt="program">
            </div>
          </div>
        </div>
      </div>


      <!--<p>   another collapse end here </p>-->
    </div>
  </div>
