<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Fibonacci sequence</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <pre>
The Fibonacci sequence begins with the numbers 0 and 1.
The third number in the sequence is the first two numbers added together (0 + 1 = 1). 
The fourth number in the sequence is the second and third numbers added together (1 + 1 = 2). 
Each number is the addition (the sum) of the previous two numbers in the sequence. 

The sequence ends up looking like this. 
For example:   0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144………………………. 
Looking at it, you can see that each number in the sequence is the addition or sum of the two previous numbers

For example, 34 is the addition of 21 and 13. 
144 is the addition of 89 and 55.  
Try it out yourself and check other numbers in the sequence to see if they follow the rule. 
We want a number after 144 then what we need to do is add the last two numbers 
Then 89 + 144 = 233
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233……………………….

Example 1 : 5
0,1,1,2,3  the first five values of the series.

            </pre>
                
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#InputOutput" aria-expanded="false" aria-controls="InputOutput">
                Sample Input & Output
              </button>
            </h5>
          </div>
          <div id="InputOutput" class="collapse" aria-labelledby="headingTwo">
            <div class="card-body"><pre>
Input:
5
Output:
0,1,1,2,3 
         

            </pre>
               
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <img src="assets/img/basic/fib.JPG" alt="program">
            </div>
          </div>
        </div>
      </div>


      <!--<p>   another collapse end here </p>-->
    </div>
  </div>
