<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Neon Number</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body"><pre>
A neon number is a number where the sum of digits of square of the number is equal to the number. 

Example: 12
First, we need to perform square of the number that is 12*12 = 144 and 
then add the digits of the square that is  1 + 4 + 4 = 9 which is not equal to 12
So, 12 is not neon number

Example: 9
First, we need to perform square of the number that is 9*9 = 81 and 
then add the digits of the square that is 8 + 1 = 9 which is not equal to 9
So, 9 is a neon number
            </pre>
                  
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#InputOutput" aria-expanded="false" aria-controls="InputOutput">
                Sample Input & Output
              </button>
            </h5>
          </div>
          <div id="InputOutput" class="collapse" aria-labelledby="headingTwo">
            <div class="card-body"><pre>
Input:
12
9
Output:
Not a neon number 
Neon number
            </pre>
            
           
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <img src="assets/img/basic/neon.JPG" alt="program">
          </div>
        </div>
      </div>


      <!--<p>   another collapse end here </p>-->
    </div>
  </div>
