<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Weighted Sum of Digits</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <pre>
Compute the weighted sum of digits of a number read from the keyboard in the following sense:
Let us calculate sum of digits multiplying each digit by its position (counting from the left, starting from 1). 

For example, 
given the value 1971 we calculate such weighted sum of digits 
         (1971) = 1 * 1 + 9 * 2 + 7 * 3 + 1 * 4 = 44          
              </pre>      
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#InputOutput" aria-expanded="false" aria-controls="InputOutput">
                Sample Input & Output
              </button>
            </h5>
          </div>
          <div id="InputOutput" class="collapse" aria-labelledby="headingTwo">
            <div class="card-body"><pre>
Input: 
1971
1185
6022

Output:
The weighted sum of 1971 is 44
The weighted sum of 1185 is 47
The weighted sum of 6022 is 20
            </pre>
              
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body"><pre>
              <img src="assets/img/basic/weightsum.JPG" alt="program">
            </pre>
              
            </div>
          </div>
        </div>
      </div>


      <!--<p>   another collapse end here </p>-->
    </div>
  </div>
