<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Prime Number</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body"><pre>

•	A prime number is a number greater than 1 with only two factors – themselves and  •	
  A prime number cannot be divided by any other numbers without leaving a remainder.       
  For example:        
  Let us Consider a number 13 ------- need to check whether 13 is a prime or not.    
   Step 1: find the factors of 13       
   Step 2: In table 1 and table 13 the number 13 will be divisible                   
           Like, 1*13 = 13 and 13*1=13       
   Step 3: The factors of 13 is 1 and the number 13 itself. 
           So, prime number should have the                         
           factors like 1 and itself then 13 is a prime number.       
  Let us Consider a number 10 ------- need to check whether 10 is a prime or not.      
    Step 1: find the factors of 10      
    Step 2: In table 1 ,2,5,10 the number 10 will be divisible                    
            Like, 1*10 = 10    
                  10*1=10      
                  2*5 = 10      
                  5*2 = 10      
    Step 3: The factors of 10 is 1 ,2,5,10 itself. 
            So, prime number should have the                          
            factors like 1 and it self.
                </pre>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#InputOutput" aria-expanded="false" aria-controls="InputOutput">
                Sample Input & Output
              </button>
            </h5>
          </div>
          <div id="InputOutput" class="collapse" aria-labelledby="headingTwo">
            <div class="card-body"><pre>
Input: 
11
85
22
13

Output:
11 is a prime number
85 is a not prime number
22 is a not prime number
13 is a prime number
            </pre>
              
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              program
            </div>
          </div>
        </div>
      </div>


      <!--<p>   another collapse end here </p>-->
    </div>
  </div>
