<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Different Type of Character Count</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <pre>

Program to find the count of number of characters , number of integers and number of special characters in a String.
Characters : all alphabet letters are consider as characters.
Integers : all numeric values are consider as Integers.
Special Characters : Other than Characters and Integers remaining all are consider as Special characters.
Example :
If we have String "hello@ 123" in the given string alphabets are 'h','e','l','l','o' then total 5 characters ,numeric values are '1','2','3' then total 3 integers, Special Characters are '@',' '(space) here space is also consider as special character then total 2 special characters, then output should be 
"number of Characters 5
number of numbers 3
number of Special Characters 2"

Sample 1 :
Stirng = "CORE i5"
Output : "number of Characters 5
number of numbers 1
number of Special Characters 1"

Sample 2 :
String = "hello world"
Output "number of Characters 10
number of numbers 0
number of Special Characters 1"
              </pre>
              
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#InputOutput" aria-expanded="false" aria-controls="InputOutput">
                Sample Input & Output
              </button>
            </h5>
          </div>
          <div id="InputOutput" class="collapse" aria-labelledby="headingTwo">
            <div class="card-body">

            <pre>

            </pre>
                
                
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <img src="assets/img/" alt="program">
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#DebuggingVideo" aria-expanded="false" aria-controls="DebuggingVideo">
                DebuggingVideo
              </button>
            </h5>
          </div>
          <div id="DebuggingVideo" class="collapse" aria-labelledby="headingFour">
            <div class="card-body">
              <app-video-common [url]="'assets/videos/'"></app-video-common>              
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Practice" aria-expanded="false" aria-controls="Practice">
                Practice
              </button>
            </h5>
          </div>
          <div id="Practice" class="collapse" aria-labelledby="headingFive">
            <div class="card-body">
             
              <div data-pym-src="https://www.jdoodle.com/embed/v0/3VBR"></div>
              
            </div>
          </div>
        </div>

      </div>
      <!--<p>   another collapse end here </p>-->
    </div>
  </div> 


